{% extends 'layout.html.twig' %}


{% block body %}
    <div class="marginTop25px">
        <button class="btn btn-primary add-multiple-modal pull-right" data-path="{{ path('event_index') }}"
           data-width="400px" data-height="150px" data-top="30%" data-left="30%" data-title="Informations">
            <i class="fa fa-plus"></i> Nouveau évènement
        </button>
        <button class="btn btn-primary add-multiple-modal pull-right" href="{{ path('event_index') }}">
            <i class="fa fa-plus"></i> Evènements
        </button>
    </div>
    <div class="clearfix"></div>
    <div id="calendar"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var now = "{{ 'now'|date('Y-m-d H:i:s') }}";
        {#var defaultDate = "{{ defaultDate|date('Y-m-d H:i:s') }}";#}
    </script>
    <script>require('assets/js/app/02-agenda.js');</script>
{% endblock %}
