{% extends 'layout.html.twig' %}
{% trans_default_domain 'message' %}
{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}
{% block body %}
    <div class="panel">
        <div class="cover-photo">
            <div class="fb-timeline-img">
                <img src="https://lorempixel.com/930/287/nature/8/" alt="">
            </div>
            <div class="fb-name">
                <h2><a href="#">{{ user.concatenationNomPrenom() }}</a></h2>
            </div>
        </div>
        <div class="panel-body">
            <div class="profile-thumb">
                <img src="{{ asset(uploads_directory_img ~ user.avatar) }}" alt="">
            </div>
            <a href="#" class="fb-user-mail">{{ user.email }}</a>
        </div>
    </div>
    <div class="clearfix"></div>
    <fieldset class="panel profile-info">
        {{ form_start(form) }}
        {{ form_widget(form.message) }}
        <div class="gallery image-commentaire-container" style="display: none;"></div>
        <footer class="panel-footer">
            <input type="submit" class="btn btn-info pull-right post" value="{{ 'lg.form.post'|trans }}"/>
            <ul class="nav nav-pills">
                <li>
                    <label for="sm_wall_photo_file">
                        <i data-index="1" class="fa fa-camera upload_pictos"></i>
                    </label>
                    <span style="display: none" class="upload_pictos_1">
                            {{ form_widget(form.photo) }}
                        </span>
                </li>
                <li>
                    &nbsp;
                </li>
                <li>
                    <label for="sm_wall_video_file">
                        <i data-index="2" class="upload_pictos fa fa-film"></i>
                    </label>
                    <span style="display: none" class="upload_pictos_2">
                            {{ form_widget(form.video) }}
                        </span>
                </li>
            </ul>
        </footer>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </fieldset>
    {% for wall in walls %}
        <div class="panel">
            {{ include('wall/wall.html.twig', {'wall': wall}) }}
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>require('assets/js/app/06-wall.js');</script>
    <script>
        $(function () {
	        $('textarea').mentionsInput({
		        source: Routing.generate('front_contact_ajax'),
		        showAtCaret: true,
		        suffix: ' '
	        });
        });
    </script>
{% endblock %}
